@use '../abstracts/vars';

.navbar-item {
    color: vars.$clr-black;
    font-family: vars.$ff-primary;
    font-size: vars.$fs-mdl;
    font-weight: vars.$fw-reg;
    margin-top: 69px;
}

.no-link {
    text-decoration: none;
}

@media screen and (vars.$phone) {
    .navbar-item {
        font-size: vars.$fs-sm;
        margin-top: 30px;
    }

    .mt-mobile {
        margin-top: 20px;
    }
}