@use '../abstracts/vars';
@use '../abstracts/media-queries';

nav {
    margin-top: 60px;
    margin-bottom: 60px;

    @include media-queries.respond-to(vars.$phone) {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
