@use '../abstracts/vars';
@use '../vendor/media-queries';

.m-footer{
    margin-left: 75px;
}

.footer-logo{
    @include media-queries.respond-to(media-queries.$phone){
        width: 65%;
    }
}

.footer-bg{
    background: vars.$clr-green-100;
    padding-top: 48px;
    padding-bottom: 48px;
    @include media-queries.respond-to(media-queries.$phone){
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.footer-links{
    font-weight: vars.$fw-reg;
    font-size: vars.$fs-lg;
    color: vars.$clr-white;
    @include media-queries.respond-to(media-queries.$phone){
        font-weight: vars.$fw-reg;
        font-size: vars.$fs-rg;
        color: vars.$clr-white;
    }
}

.footer-txt{
    color: vars.$clr-white;
    font-size: vars.$fs-s;
    margin-top: 25px;
    @include media-queries.respond-to(media-queries.$phone){
        font-size: vars.$fs-xs;
    }
}