@use '../abstracts/vars';

.input-search {
    background: vars.$clr-gray-50;
    border: none;
    border-radius: 17px;
    width: 248px;
    height: 49px;
}

.input-search ::placeholder {
    color: vars.$clr-white;
    font-size: vars.$fs-mdl;
    padding-left: 25px;
}

@media screen and (vars.$phone) {
    .input-search {
        width: 120px;
        height: 26.11px;
    }

    .input-search ::placeholder {
        font-size: vars.$fs-sm;
        padding-left: 0px;
    }

    .input-search img {
        width: 15px;
        height: 15px;
        margin-bottom: 50px;
    }
}